@model IEnumerable<ERSProgram.Models.Users>

@{
    ViewData["Title"] = "Users";
}
<div>
    <table class="table">
        <thead>
            <tr>
                @using (Html.BeginForm("SearchUser", "Home", FormMethod.Post))
                {
                    <p>
                        User Id: <input type="text" name="UserID" />
                        <input type="submit" value="Search" class="btn btn-primary" /> |
                        <input type="submit" formaction="Index" value="Show All" class="btn btn-success" />
                    </p>
                }
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("No")
                </th>
                <th>
                    @Html.DisplayName("Username")
                </th>
                <th>
                    @Html.DisplayName("Password")
                </th>
                <th>
                    @Html.DisplayName("FirstName")
                </th>
                <th>
                    @Html.DisplayName("LastName")
                </th>
                <th>
                    @Html.DisplayName("Role")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>